/* Header Starts Here ------------------------------------------------------- */
header{
	background-color: #4d98a4;
}
.logo{
	font-family: 'Cherry Swash', sans-serif;
	font-size: 40px;
}
header ul{
	margin-top: 20px;
}
header ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
}
header ul .slash{
	border-right: 1px solid white;
	transform: rotate(25deg);

}
header a{
	color: #f0f0f0;
	font-size: 18px;
	font-family: 'Open Sans Condensed:300', sans-serif;

}
header a:hover{
	color: #fff;
	text-decoration: none;
}
/* Cover Starts Here -------------------------------------------------------- */
.cover{
	background-image: url(../img/cover.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #f0f0f0;
}
.cover h1{
	width: 36%;
	margin: 0 auto;
	padding-top: 13%;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed';
	font-size: 44px;
	padding-bottom: 3%;
}
.cover .btn-read{
	font-family: sans-serif;
	font-size: 30px;
	border: 2px solid;
	background-color: transparent;
	border-radius: 10px;
	margin-bottom: 21%;
}
.cover a{
	padding: 10px 40px;
}
.cover .btn-read:hover{
	color: #f0ff00;
}
.cover .btn-read:focus{
	background-color: transparent;
	color: #fff;
}
/* Content Starts Here ------------------------------------------------------ */
.content{
	text-align: center;
	color: #4c505d;
	font-family: sans-serif;
}
.content h3{
	margin: 0 22%;
	padding-top: 9%;
	padding-bottom: 4.5%;
	font-weight: normal;
	font-size: 30px;
}
.content .container p{
	margin: 0 10%;
	font-size: 14px;
	padding-bottom: 7.5%;
}
.content ul{

}
.content li{
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin-bottom: 80px;
}
.basket,
.earth,
.suitcase{
	background-repeat: no-repeat;
	background-image: url(../img/sprite.png);
	width: 60px;
	height: 55px;

}
.basket{
	background-position: 0 0;
}
.earth{
	margin: 0 64px;
	background-position: 0 -55px;
}
.suitcase{
	background-position: 0 -110px;
}
