/* Header Starts Here ------------------------------------------------------- */
header{
	background-color: #4d98a4;
}
.logo{
	font-family: 'Cherry Swash', sans-serif;
	font-size: 40px;
}
header ul{
	margin-top: 20px;
}
header ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
}
header ul .slash{
	border-right: 1px solid white;
	transform: rotate(25deg);

}
header a{
	color: #f0f0f0;
	font-size: 18px;
	font-family: 'Open Sans Condensed:300', sans-serif;

}
header a:hover{
	color: #fff;
	text-decoration: none;
}
/* Cover Starts Here -------------------------------------------------------- */
.cover{
	background-image: url(../img/cover.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #f0f0f0;
}
.cover h1{
	width: 36%;
	margin: 0 auto;
	padding-top: 13%;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed';
	font-size: 44px;
	padding-bottom: 3%;
}
.cover .btn-read{
	font-family: sans-serif;
	font-size: 30px;
	border: 2px solid;
	background-color: transparent;
	border-radius: 10px;
	margin-bottom: 21%;
}
.cover a{
	padding: 10px 40px;
}
.cover .btn-read:hover{
	color: #f0ff00;
}
.cover .btn-read:focus{
	background-color: transparent;
	color: #fff;
}
/* Content Starts Here ------------------------------------------------------ */
.content{
	text-align: center;
	color: #4c505d;
	font-family: sans-serif;
}
.content h3{
	margin: 0 22%;
	padding-top: 9%;
	padding-bottom: 4.5%;
	font-weight: normal;
	font-size: 30px;
}
.content .container p{
	margin: 0 10%;
	font-size: 14px;
	padding-bottom: 7.5%;
}
.content ul{

}
.content li{
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin-bottom: 80px;
}
.basket,
.earth,
.suitcase{
	background-repeat: no-repeat;
	background-image: url(../img/sprite.png);
	width: 60px;
	height: 55px;
}
.basket{
	background-position: 0 0;
}
.earth{
	margin: 0 64px;
	background-position: 0 -55px;
}
.suitcase{
	background-position: 0 -110px;
}
/* member starts here ------------------------------------------------------- */
.member{
	position: relative;
	text-align: center;
	background-color: #00d089;
	padding: 5% 0;
	color: #fff;
}
.member .photo{
	margin-bottom: 5%;
}
.member .photoName{
	position: absolute;
	top: 100px;
	text-transform: uppercase;
	font-size: 26px;
}
.member .quote{
	top: 130px;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/sprite.png);
	width: 128px;
	height: 96px;
	background-position: 0 -166px;
}
.member ul{
	display: inline-block;
}
.member li{
	list-style-type: none;
}
.member p{
	text-align: left;
	font-size: 18px;
	margin: 0 10%;
}
/* Map Starts Here ---------------------------------------------------------- */
.map{
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #4c505d;
	text-align: center;
}
.map ul{
	background-color: rgba(255,255,255,0.6);
	width: 435px;
	height: 435px;
	border-radius: 218px;
	margin: 5% auto;
	padding: 0;
	box-shadow: 2px 2px 10px 5px #68615a;
}
.map li{
	margin-bottom: 15px;
	list-style-type: none;
}
.map .name{
	margin-top: 25%;
}
.map .name,
.map .email{
	width: 278px;
	height: 35px;
}
.map .message{
	width: 278px;
	height: 80px;
}
.map .btn-tick{
	background-repeat: no-repeat;
	background-image: url(../img/sprite.png);
	width: 66px;
  height: 68px;
  background-position: -62px 0;
}
