
@media screen and (max-width: 991px) {
  header{
    display: block;
  }
}
@media screen and (max-width: 767px){
  header li{
    display: block;
  }
  .slash{
    display: none;
  }
  header{
   background-color: #000;
  }
  header ul{
    padding-left: 0;
  }
  header .pull{
    float: left!important;
  }
}
@media screen and (max-width: 351px){
  header .pull li{
    display: block;
    line-height: 2em;
  }
  header .pull .slash{
    display: none;
  }
  .cover{
    width: 351px;
  }
  .cover h1{
    text-align: center;
    width: 250px;
    font-size: 30px;
  }
  .cover .btn-read{
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 160px;
  }
}

